{% extends "layout.html" %}
{% block title %}Rust Secret{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
<br>

<a href="create.html">Share a Secret</a><br>

    <h2>Secrets</h2>

    {% for secret in secrets %}
    <form action="comment.html" method=post>
        <p class=secret>
            {{ secret.body }}<br>
            {{ secret.timestamp }} <br>

            <input type=submit value="Comment"></input>
        </p>

    {% endfor %}


{% endblock %}