<!--https://keats.github.io/tera/docs/#base-template-->
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>Rust Secret</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>{% block title %}{% endblock title %}Rust Secret</title>
    {% endblock head %}
</head>
<body>
    <div class="page">
        <h1>Rust Secret</h1>
        <h2>share secrets anonymously</h2>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
